$imgSize: 100px;

.app {
  background-color: #fff;
  p {
    color: green;
  }
  .grayImage {
    width: $imgSize;
    height: $imgSize;
    background-image: url("./images/gray_pixel.gif");
    background-repeat: repeat;
    border: 2px solid blue;
  }
}

.zerb {
  text-decoration: underline;
}

.nerk {
  font-size: 2rem;
}
